<!--Aside start-->
<nav id="sidebar" >
	<div class="p-4 pt-5 sticky-top">
		<h5>Trending Books</h5>
		<ul class="list-unstyled components mb-5">
			<li>
				<a href="#">
					<span class="fa fa-chevron-right mr-2"></span>
					Casual</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-chevron-right mr-2"></span>
					Football</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-chevron-right mr-2"></span>
					Jordan</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-chevron-right mr-2"></span>
					Lifestyle</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-chevron-right mr-2"></span>
					Running</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-chevron-right mr-2"></span>
					Soccer</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-chevron-right mr-2"></span>
					Sports</a>
			</li>
		</ul>
		<div class="mb-5">
			<h5>Recommended Profiles</h5>
			<div class="tagcloud">
				<a href="#" class="tag-cloud-link">dish</a>
				<a href="#" class="tag-cloud-link">menu</a>
				<a href="#" class="tag-cloud-link">food</a>
				<a href="#" class="tag-cloud-link">sweet</a>
				<a href="#" class="tag-cloud-link">tasty</a>
				<a href="#" class="tag-cloud-link">delicious</a>
				<a href="#" class="tag-cloud-link">desserts</a>
				<a href="#" class="tag-cloud-link">drinks</a>
			</div>
		</div>
		<div class="mb-5">
			<h5>Find a Book</h5>
			<form action="#" class="form">
				<div class="form-group d-flex">
					<div class="icon">
						<span class="icon-paper-plane"></span>
					</div>
					<input type="text" class="form-control" placeholder="Search...">
				</div>
			</form>
		</div>
	</div>
</nav>
<!--Aside end-->
