<div class="your-class">
	<div>
		<div id="board-popular" class="board" style="height: 500px; width 1200px"></div>
	</div>
	<div>
		<div id="board-discover" class="board" style="height: 500px; width 1200px"></div>
	</div>
	<div>
		<div id="board-discover" class="board" style="height: 500px; width 1200px"></div>
	</div>
</div>
