<p>{{ user.username}}</p>
<p>Description:
	{{ user.description }}</p>

<img id="follow" src="{{following ? asset('img/following.png') : asset('img/no_following.png') }}" alt="following" height="30px" slug="{{user.slug}}">
