<div class="text-center">
	<p><img src="{{ asset('uploads/covers/' ~ book.cover) }}" height="200">
	</p>
</div>
<div>
	By:
	{% for author in book.authors %}
		{{ book.author.name }}
	{% endfor %}
<hr>

	
