<div class="col-md">
	<div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
		<div class="col p-4 d-flex flex-column position-static">
			<strong class="d-inline-block mb-2 text-primary-emphasis">{{ review.book.title }}</strong>
			<h3 class="mb-0">{{ review.title }}</h3>
			<div class="mb-1 text-body-secondary">By <a href="">{{ review.creator.username }}</a></div>
			<p class="card-text mb-auto">{{ review.content[:200] }}</p>
			<a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
				Continue reading...
			</a>
		</div>
	</div>
</div>
<div class="vr" style="padding:0px !important"></div>
