{% extends 'base.html.twig'%}
{% block title %}
	{{ (user) ? user.username : 'Not found' }}
{% endblock %}
{% block body %}
	{% if user %}
		{{include ("partials/_data-profile.html.twig", {'user': user, 'following': following})}}
	{% else %}
		<p>Review not found</p>
	{% endif %}
{% endblock %}

{% block javascripts_bottom %}
	<script src="{{ asset('js/plugins/jquery.addRemove.js') }}"></script>
	<script src="{{ asset('js/server.js') }}"></script>
{% endblock %}